.SignIn {
  display: flex;
  flex-direction: column;
  background: url(http://moheban-ahlebeit.com/images/Wallpaper-Notebook/Wallpaper-Notebook-24.jpg);
  background-size: cover;
  height: 100vh; }
  
.SignIn .title {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Fauna One";
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem; 
  }

.SignIn p {
  color: white;
  font-family: "Fauna One";
  font-size: 1.7rem;
  font-weight: 300;
  width: 30em;
  margin: 0 auto;
  border-top: 1px solid rgba(255,255,255,0.4);
  padding-bottom: 2rem;
  padding-top: 1rem;
  }

button {
  background-color: #008BF8;
  border: 0;
  border-radius: 5px;
  color: white;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.quill {

  width: 65%;
  
}
